<h2>User info</h2>
	<%= attachment_image_tag user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %>
	<table class="table table-striped">
		<tbody>
			<tr>
				<td>name</td>
				<td><%= user.name %></td>
			</tr>
			<tr>
				<td>introduction</td>
				<td><%= user.introduction %></td>
			</tr>
		</tbody>
	</table>
	<div class="row">
		<%= link_to 'edit', edit_user_path(current_user), class: "btn btn-default glyphicon glyphicon-wrench" %>
	</div>
	<h2>New book</h2>
		<%= form_for(book) do |f| %>
	<div class='field'>
    	<h4>Title</h4>
    		<%= f.text_field :title %>
    </div>
    <div class='field'>
    	<h4>Body</h4>
    		<%= f.text_area :body %>
    </div>
    		<%= f.submit 'Create Book', class:"btn btn-primary" %>
		<% end %>